.g-container > .g-main>.g-mainc>.m-content-main>.m-content_input>.u-tip{
    font-size: 12px;
    color: #DD3C3C;
    display:flex;
    align-items: center;
    padding-left:10px;
}
.g-container > .g-main>.g-mainc>.m-content-main>.m-content_input>.u-tip1{
    display:flex;
    align-items: center;
    padding-left: 10px;
}
.g-container > .g-main>.m-buttons{
    padding-bottom: 337px;
}

