@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    /* font-family: "PingFangSC-Medium"; */
    font-family: PingFangSC-Regular;
}
body {
    margin: 0px;
    padding: 0px;
}
div {
    box-sizing: border-box;
}
.g-container {
    min-width: 1260px;
}
input{
    border: none;
    outline: none;
}
textarea{
    outline: none;
    resize:none;
    border: none;
}
select {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
li,ul,dl,dd,dt{
    margin: 0;
    padding: 0;
    list-style: none;
}
